
<footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h3>PACO</h3>
          <p>Plot No.111, Shree Industrial Co. Op. Soc, Gala No.02, MIDC, opp. Police Station, 
            behind Radix Die & Moulds, General Block, Landewadi, Bhosari, Pune, 411026, India</p>
          <p class="social">
            <a href="#" class="m-1"><span class="bi bi-twitter"></span></a>
            <a href="#" class="m-1"><span class="bi bi-facebook"></span></a>
            <a href="#" class="m-1"><span class="bi bi-instagram"></span></a>
            <a href="#" class="m-1"><span class="bi bi-linkedin"></span></a>
          </p>
        </div>
        <div class="col-md-3">
          <h3>Navigation</h3>
            <ul class="list-unstyled">
              <li><a href="#">Products</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
      </div>
  
      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">&copy; Copyright PACO. All Rights Reserved</p>
          <div class="credits">
            Designed by <a href="#">PACO</a>
          </div>
        </div>
      </div>
  
    </div>
  </footer>

  
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
