<!-- ======= On Focus Section ======= -->
<section id="onfocus" class="onfocus video-container">
    
    <div class="container-fluid">

      <div class="row g-0">
        <div class="col-lg-6 video-play">
            <div class="video-container m-2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XbGsJoivUw8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- <embed src="https://www.youtube.com/embed/XbGsJoivUw8"> -->
        </div>

        <div class="col-lg-6">
          <div class="content d-flex flex-column justify-content-center m-2">
            <h3>LinkUp Conveyor</h3>
            <p class="fst-italic">
              This can be used as linkup conveyor.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End On Focus Section -->
  <!-- ======= Screenshots Section ======= -->
  <section id="screenshots" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>App Gallery</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>
      </div>

      <div class="screens-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="../../../assets/img/products/1.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/products/2.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/products/3.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/products/4.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/products/5.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/products/6.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/products/7.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../../assets/img/products/8.jpg" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </section><!-- End Screenshots Section -->