 
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  .hero-section {
    z-index: -2;
    background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%), url("../../../assets/img/hero-bg.jpg");
    position: relative;
  }
  
  .wave{
    z-index: -1;
  }
  .next-wave{
    z-index: 1;
  }

  .hero-section .wave {
    width: 100%;
    overflow: hidden;
    position: absolute;
    // z-index: 1;
    bottom: -150px;
  }
  
  @media screen and (max-width: 992px) {
    .hero-section .wave {
      bottom: -180px;
    }
  }
  
  .hero-section .wave svg {
    width: 100%;
  }
  
  .hero-section,
  .hero-section>.container>.row {
    height: 100vh;
    min-height: 880px;
  }
  
  .hero-section h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 992px) {
    .hero-section h1 {
      font-size: 2.5rem;
    }
  }
  
  @media screen and (max-width: 992px) {
    .hero-section .hero-text-image {
      margin-top: 4rem;
    }
  }
  
  .hero-section p {
    font-size: 18px;
    color: #fff;
  }
  
  
  .section-title h2{
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
  }


  /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team{
  background-color: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.team .member .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #47b2e4;
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a+a {
  margin-left: 8px;
}



/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 60px 100px 0 100px;
}
.why-us ul a{
  color: #343a40;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: #848484;
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .accordion-list {
  padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li+li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.why-us .accordion-list span {
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: #343a40;
}

.why-us .accordion-list a.collapsed:hover {
  color: #47b2e4;
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

 

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/


.clients .client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #eceff0;
  border-bottom: 1px solid #eceff0;
  overflow: hidden;
  background: #fff;
  height: 120px;
  padding: 40px;
}

.clients .client-logo img {
  max-width: 50%;
  filter: grayscale(100);
}

.clients .client-logo:hover img {
  filter: none;
  transform: scale(1.1);
}

.clients img {
  transition: all 0.4s ease-in-out;
}