<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="container justify-content-center">
        <div>
          <p>
            Pune Automation Company is in the field of designing and manufacturing
            pharmaceutical packaging machinery especially for secondary packing lines for one
            decade.

            From the last one deceit, we are Delighting to clients by providing Simple, efficient, and
            reliable solutions and best after-sales service support.

            Our wide product range gives opportunity to client fulfill their standard requirement and
            our Custom make machines helps clients to meet there specific requirement.

            We believe by continuous improving in standard products with adopting latest
            technology our machines is getting better and better.
          </p>
          <p><strong>Product Range with customer delight :</strong></p>
          <ul>
            <li><i class="ri-check-double-line"></i>Online Carton Collator machine</li>
            <li><i class="ri-check-double-line"></i>Online Carton banding machine</li>
            <li><i class="ri-check-double-line"></i>Semi Automatic Outer carton filler machine</li>
            <li><i class="ri-check-double-line"></i>Online Blister counting magazine for carton pack machine</li>
            <li><i class="ri-check-double-line"></i>Online Booklet feeding / loading</li>
            <li><i class="ri-check-double-line"></i>Shipper Carton taping machine (center and corner) </li>
            <li><i class="ri-check-double-line"></i>Blister carton link-up conveyor (up to 550 Blister per min)</li>
            <li><i class="ri-check-double-line"></i>Flat belt Conveyors</li>
            <li><i class="ri-check-double-line"></i>Glass vial / plastic bottles conveyors</li>
            <li><i class="ri-check-double-line"></i>Turn table</li>
            <li><i class="ri-check-double-line"></i>Visual Inspection Machine</li>
            <li><i class="ri-check-double-line"></i>Shipper carton weight checking and data printing machine.</li>
            <li><i class="ri-check-double-line"></i>Custom Built machine such as , carton
            reversing and Turing machine, primary
            and secondary product counting machine</li>
          </ul>
        </div>
        
      </div>

    </div>
</section><!-- End About Us Section -->
